@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  padding: 50px;
}

.header {
  background-color: white;
  height: 100px;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  padding-left: 50px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 100%;
}

.navlink {
  color: black;
  font-size: 32px;
  font-weight: 600;
  text-decoration: none;
}

.navlink.active {
  color: mediumvioletred;
}

.mainTitle {
  font-size: 40px;
  margin-bottom: 20px;
}

.filmsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filmLink {
  font-size: 24px;
  color: black;
  text-decoration: none;
}

.filmLink:hover,
.filmLink:focus {
  color: mediumvioletred;
}

.filmInfo {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imgBox {
  display: inline-block;
  width: 400px;
  margin-right: 20px;
}

.textBox {
  display: inline-block;
  width: calc(100% - 420px);
  height: 100%;
}

.title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
}

.subtitle {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 20px;
}

.text {
  font-size: 24px;
  margin-bottom: 20px;
}

.textGenre {
  margin-right: 10px;
}

.addInfoBox {
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.backLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-decoration: none;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  border: none;
  background-color: white;
  border: 2px solid white;
  color: black;
  text-align: center;
  cursor: pointer;
}

.backLink:hover,
.backLink:focus {
  border: 2px solid mediumvioletred;
}

.actorPic {
  margin-bottom: 10px;
}

.searchForm {
  height: 40px;
  margin-bottom: 15px;
}

.input {
  box-sizing: border-box;
  width: 200px;
  height: 100%;
  margin-right: 10px;
  border: 1px solid darkgray;
  background-color: white;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.input:hover,
.input:focus {
  border: 2px solid mediumvioletred;
  outline: none;
}

.searchButton {
  width: 100px;
  height: 100%;
  background-color: white;
  border: 1px solid darkgray;
  color: black;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

.searchButton:hover,
.searchButton:focus {
  border: 2px solid mediumvioletred;
  outline: none;
}